---
layout: default
title: Tools
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="tools">
         <h2>开发工具</h2>

<p>IDE： Microsoft Visual Studio(C++)</p>

<p>编译： GCC, CMake, IncrediBuild</p>

<p>代码浏览： Source InSight</p>

<p>UML绘图：StarUML  </p>

<p>版本管理： TortoiseSVN, Git</p>

<p>文本编辑： Sublime Text</p>

<p>文本比较： Beyond Compare</p>

<h2>日常使用工具</h2>

<p>本地笔记：eDiary </p>

<p>思维导图：XMind </p>

<p>文件查找：Everything </p>

<p>知识管理：Wiz Note </p>

<p>Markdown编辑：zybuluo</p>

<p>更新于2015年3月10日</p>


    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
