---
layout: default
title: Tools
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="tools">
         <h2>开发工具</h2>

<p>IDE： Microsoft Visual Studio(C++)
编译： GCC, CMake, IncrediBuild
代码浏览： Source InSight 
UML绘图：StarUML <br />
版本管理： TortoiseSVN, Git
文本编辑： Sublime Text
文本比较： Beyond Compare</p>

<h2>日常使用工具</h2>

<p>本地笔记：eDiary 
思维导图：XMind 
文件查找：Everything 
知识管理：Wiz Note 
Markdown编辑：zybuluo</p>

<p>更新于2015年3月10日</p>

    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
